$box-one-background : #4DD0E1;
$box-two-background : #FF8A65;
$box-three-background : #FFB74D;
$light_gray: #458123;
$color-heading: rgba(14, 32, 77, 0.5);

$text-font-family : 'Montserrat', sans-serif;
$heading-font-family : 'Mukta', sans-serif;
$logo-font-family : 'Comfortaa', cursive;