.bulb_pic{
    width:50%;
}
.bulb_pic img{
    width:100%;
    object-fit: contain;
}

.section_three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pencil-on-hand-description{
    width: 30%;
    /* position: relative; */
}
.section_three .pencil_on_hand{
    position:relative ;
    background-color: var(--box-one-background);
    width:100%;
    height: 300px;
}
.section_three .pencil_on_hand img{
    top: -130px;
    position: absolute;
    width:400px;
    height: 400px;
    left: 60px;
    
}
.section_three .tablet{
    position:relative ;
    background-color: var(--box-two-background);
    width:100%;
    height: 300px;
}
.section_three .tablet img{
    position: absolute;
    width:400px;
    height: 400px;
    top: -97px;
    left: 20px;
}
.section_three .settings{
    position:relative ;
    background-color: var(--box-three-background);
    width:100%;
    height:300px;
}
.section_three .settings img{
    position: absolute;
    width:400px;
    height: 400px;
    bottom: -138px;
}
.design_description3{
    margin-top: 30px;
    line-break: auto;
    line-height: 30px;
}
.brown{
    background-color: var(--light_gray);
    margin: 40px 0px 20px 0px;
}
.brown h3{
   text-align: center;
   font-size: 30px;
   color: var(--color-heading);
   font-family: var(--heading-font-family);
   padding: 15px;
}
.divwithphone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone--left{
    position: relative;
    width: 700px;
    height: 700px;
    margin-left: -210px;
}
.phone--left img{
    position: absolute;
    width: 100%;
    height: 700px;
}
.phone--heading{
    text-align: center;
    font-size: 21px;
    color: var(--color-heading);
    font-family: var(--heading-font-family);
}